<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/depoimentos.css">

    <title>Et & Wicca - Depoimentos</title>
</head>

<body>
    <header>
        <img src="/src/image/soon.png" alt="logo">

        <nav>
            <ul>
                <li><a href="/src/layout/index.html">Home</a></li>
                <li><a href="#sobre-nos">Sobre Nós</a></li>
                <li class="comprimir"><a href="/src/layout/missao.html">Apresentação da Empresa</a></li>
                <li class="comprimir"><a href="/src/layout/servicos.html">Serviços</a></li>
                <li><a href="/src/layout/contato.html">Contato</a></li>
                <li class="comprimir"><a href="/src/layout/gestãoDeProjetos.html">Gestão de Projetos</a></li>
                <li class="comprimir"><a href="/src/layout/projetosDesenvolvido.html">Projetos Desenvolvidos</a></li>
                <li id="ganbiarra"><a href="/src/layout/depoimentos.html">Depoimentos</a></li>
            </ul>
        </nav>
        <div class="tools">
            <a href="#"><img src="/src/image/support.png" alt="support"></a>
            <a href="#"><img src="/src/image/shopping_cart.png" alt="support"></a>

            <div class="customerArea">
                <a href="/src/layout/areaCliente.html">Areá do Cliente</a>
            </div>
    </header>

    <main>
        <section class="depoimento-container">
            <h1>Depoimentos</h1>

            <div class="depoimento">
                <div class="usuario">
                    <img src="#" alt="perfil">

                    <p>Edgar Horato</p>
                    <p>15/11/2024</p>
                </div>
                <div class="conteudo"> 
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?</p>
                </div>
            </div>

            <div class="depoimento">
                <div class="usuario">
                    <img src="#" alt="perfil">

                    <p>Italo Fisher</p>
                    <p>21/10/2024</p>
                </div>
                <div class="conteudo"> 
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?</p>
                </div>
            </div>

            <div class="depoimento">
                <div class="usuario">
                    <img src="#" alt="perfil">

                    <p>Corina Luzes</p>
                    <p>05/10/2024</p>
                </div>
                <div class="conteudo"> 
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?</p>
                </div>
            </div>

            <div class="depoimento">
                <div class="usuario">
                    <img src="#" alt="perfil">

                    <p>Lucas Topera</p>
                    <p>27/09/2024</p>
                </div>
                <div class="conteudo"> 
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum minima cumque corrupti ab
                        magni consequuntur nihil, autem omnis est natus ad eligendi excepturi neque quisquam iste
                        doloribus repellat culpa?</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>