<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon padrão -->
    <link rel="icon" href="/src/image/favicon_io/favicon.ico" type="image/x-icon">

    <!-- Para navegadores modernos -->
    <link rel="icon" type="image/png" sizes="32x32" href="/src/image/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/image/favicon_io/favicon-16x16.png">

    <!-- Para dispositivos Apple -->
    <link rel="apple-touch-icon" href="/src/image/favicon_io/apple-touch-icon.png">

    <!-- Css -->
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" href="/src/css/footer.css">

    <title>Et & Wicca - Página Inicial</title>
</head>

<body>
  <header>
    <img src="/src/image/soon.png" alt="logo">

    <nav>
        <ul>
            <li><a href="/src/layout/index.html">Home</a></li>
            <li><a href="#sobre-nos">Sobre Nós</a></li>
            <li class="comprimir"><a href="/src/layout/missao.html">Apresentação da Empresa</a></li>
            <li class="comprimir"><a href="/src/layout/servicos.html">Serviços</a></li>
            <li><a href="/src/layout/contato.html">Contato</a></li>
            <li class="comprimir"><a href="/src/layout/gestãoDeProjetos.html">Gestão de Projetos</a></li>
            <li class="comprimir"><a href="/src/layout/projetosDesenvolvido.html">Projetos Desenvolvidos</a></li>
            <li id="ganbiarra"><a href="/src/layout/depoimentos.html">Depoimentos</a></li>
        </ul>
    </nav>
    <div class="tools">
        <a href="#"><img src="/src/image/support.png" alt="support"></a>
        <a href="#"><img src="/src/image/shopping_cart.png" alt="support"></a>

        <div class="customerArea">
            <a href="/src/layout/areaCliente.html">Areá do Cliente</a>
        </div>
</header>
    
    <section class="introducao-container">

        <div class="text-content">
            <h1>Transforme seu software com soluções inovadoras e eficazes.</h1>
            <p>Alcance novos patamares com campanhas personalizadas para o seu público.</p>
            <a href="#">Conheça os nossos serviços.</a>
        </div>

        <div class="image-container">
            <div class="background-shape"></div>
            <img src="/src/image/coding-software.png" alt="Imagem de código em uma tela">
        </div>
        
    </section>

    <section class="servicos-container">
        <h2>Serviços oferecidos</h2>
        <div class="container">
            <div class="service"> <img src="/src/image/low-code.png" alt="Low-code">
                <h3>Low-code</h3>
            </div>
            <div class="service"> <img src="/src/image/custom-coding.png" alt="Custom Coding">
                <h3>Custom Coding</h3>
            </div>
            <div class="service"> <img src="/src/image/no-code.png" alt="No Code">
                <h3>No Code</h3>
            </div>
        </div>
    </section>

    <section class="endToEnd-container">
        <h2 class="section-title">Oferecemos serviços end-to-end para o seu negócio</h1>
        <div class="services-container">
            <div class="service-box">
                <h3>Consultoria e Assessoria Digital</h3>
                <p>
                Identificamos as lacunas e conectamos os pontos entre sua estratégia de negócios e tecnologia. 
                Nossos especialistas têm profundo conhecimento na definição de estratégias, adoções e roteiros, 
                dependendo dos seus objetivos específicos.
                </p>
            </div>
            <div class="service-box">
                <h3>Soluções combináveis para múltiplas experiências</h3>
                <p>
                Encantamos usuários finais com experiências interconectadas em web, mobile, IoT, AR e conversação. 
                A arquitetura se adapta, se reorganiza e evolui para suportar as mudanças nas necessidades da sua organização.
                </p>
            </div>
            <div class="service-box">
                <h3>Evolução do Ecossistema</h3>
                <p>
                Focamos em ajudar empresas a evoluir e executar suas aplicações de forma eficiente. Com equipes especializadas, 
                <a href="#">modernizamos</a> e mantemos ecossistemas técnicos, criando soluções à prova de futuro e migrando para tecnologias mais adequadas.
                </p>
            </div>
            <div class="service-box">
                <h3>Soluções Low-Code</h3>
                <p>
                Utilizamos soluções low-code e no-code para acelerar o time-to-market e agregar valor aos nossos clientes. 
                <a href="#">Aumentamos a produtividade e qualidade</a>, reduzindo os requisitos de habilidades para desenvolvedores.
                </p>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h4>Empresa</h4>
            <ul>
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Termos de Serviço</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Contatos</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h4>Software</h4>
            <ul>
              <li><a href="#">Planos e preços</a></li>
              <li><a href="#">Modelos</a></li>
              <li><a href="#">Propostas</a></li>
              <li><a href="#">Orçamentos</a></li>
              <li><a href="#">Oportunidade de vendas</a></li>
              <li><a href="#">Negociações</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h4>Suporte</h4>
            <ul>
              <li><a href="#">Funcionamento</a></li>
              <li><a href="#">Agendar Demonstração</a></li>
              <li><a href="#">Vídeos Tutoriais</a></li>
            </ul>
          </div>
          <div class="footer-section">
            <h4>Recursos</h4>
            <ul>
              <li><a href="#">Identificador de Cores</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="footer-logo">
            <img src="/src/image/soon.png" alt="soon">
          </div>
          <div class="footer-social">
            <a href="#"><img src="/src/image/youTube.png" alt="YouTube"></a>
            <a href="#"><img src="/src/image/linkedIn.png" alt="LinkedIn"></a>
            <a href="#"><img src="/src/image/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="/src/image/facebook.png" alt="Facebook"></a>
          </div>
        </div>
    </footer>
</body>

</html>