<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/projetosDesenvolvido.css">

    <title>Et & Wicca - Projetos Desenvolvidos</title>
</head>
<body>
  <header>
    <img src="/src/image/soon.png" alt="logo">

    <nav>
        <ul>
            <li><a href="/src/layout/index.html">Home</a></li>
            <li><a href="#sobre-nos">Sobre Nós</a></li>
            <li class="comprimir"><a href="/src/layout/missao.html">Apresentação da Empresa</a></li>
            <li class="comprimir"><a href="/src/layout/servicos.html">Serviços</a></li>
            <li><a href="/src/layout/contato.html">Contato</a></li>
            <li class="comprimir"><a href="/src/layout/gestãoDeProjetos.html">Gestão de Projetos</a></li>
            <li class="comprimir"><a href="/src/layout/projetosDesenvolvido.html">Projetos Desenvolvidos</a></li>
            <li id="ganbiarra"><a href="/src/layout/depoimentos.html">Depoimentos</a></li>
        </ul>
    </nav>
    <div class="tools">
        <a href="#"><img src="/src/image/support.png" alt="support"></a>
        <a href="#"><img src="/src/image/shopping_cart.png" alt="support"></a>

        <div class="customerArea">
            <a href="/src/layout/areaCliente.html">Areá do Cliente</a>
        </div>
</header>

    <div class="container">
        <h1>Projetos Desenvolvidos</h1>
        <div class="project-section">
          <div class="project">
            <h2>Sistema de Gestão de Inventário Personalizado para Indústria de Manufatura</h2>
            <p><strong>Cliente:</strong> Indústria de Manufatura XYZ</p>
            <h3>Objetivo do Projeto:</h3>
            <p>Desenvolver um Sistema de Gestão de Inventário Sob Medida que permita à indústria XYZ otimizar o controle de seus estoques...</p>
    
            <h3>Desafios Enfrentados:</h3>
            <ul>
              <li>Erros de inventário...</li>
              <li>Falta de integração...</li>
            </ul>
    
            <h3>Solução Desenvolvida:</h3>
            <ul>
              <li>Automatizar o controle de estoque...</li>
              <li>Integração total com o ERP...</li>
            </ul>
    
            <h3>Resultados Obtidos:</h3>
            <ul>
              <li>Redução de erros...</li>
              <li>Aumento da eficiência...</li>
            </ul>
          </div>
          
          <div class="project">
            <h2>Plataforma de Integração de Sistemas e APIs para Empresa de Varejo</h2>
            <p><strong>Cliente:</strong> Rede de Varejo ABC</p>
            <h3>Objetivo do Projeto:</h3>
            <p>Desenvolver uma Plataforma de Integração de Sistemas e uma série de APIs...</p>
    
            <h3>Desafios Enfrentados:</h3>
            <ul>
              <li>Dificuldade de integração...</li>
              <li>Armazenamento limitado...</li>
            </ul>
    
            <h3>Solução Desenvolvida:</h3>
            <ul>
              <li>API de integração com ERP, CRM...</li>
              <li>Integração com sistemas de logística...</li>
            </ul>
    
            <h3>Resultados Obtidos:</h3>
            <ul>
              <li>Aumento da eficiência...</li>
              <li>Redução no tempo de processamento...</li>
            </ul>
          </div>
        </div>
    </div>
</body>
</html>